__pycache__/
*.py[cod]
.ipynb_checkpoints/

.DS_Store
.vscode/
.idea/

outputs/
logs/
runs/
wandb/
checkpoints/
saved_checkpoints/
weights/
backbone/

*.safetensors
*.bin
*.pt
*.pth
*.ckpt
*.onnx
*.pkl
*.joblib
*.h5

*.zip
*.tar
*.tar.gz
*.tgz
*.7z

*.log
*.tmp
